<% provide(:title, title('Search results')) %>
<%= render 'shared/search' %>
<div class="container">
  <ul class="breadcrumb">
    <li><a href="<%= url_for(:root) %>"><span class="octicon octicon-home"> </span></a></li>
    <li>Search</li>
    <li><%= @q %></li>
  </ul>
  <% if @articles.size > 0 %>
      <div class="flash">
        <%= "%s found" % pluralize(@articles.size, 'article') %>
      </div>
      <div class="articles-entries">
        <%= render :partial => "shared/article", :collection => @articles %>
      </div>
  <% else %>
      <div class="blankslate">
        <h3>No results</h3>

        <p>Sorry there are currently no articles that match your search criteria</p>
      </div>
  <% end %>
</div>