<table class="table">
  <thead>
  <tr>
    <th>Article</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td>
          <%= link_to(article.title, articles_show_path(:id => article.id, :slug => article.slug)) %>
          <div><%= article.topic.name %></div>
        </td>
        <td style="width: 180px" class="right">
          <div class="btn-group">
            <% if (article.is_published?) %>
                <%= link_to 'Unpublish', admin_article_unpublish_path(article.id), :method => :post, :class => 'btn btn-sm' %>
            <% else %>
                <%= link_to 'Publish', admin_article_publish_path(article.id), :method => :post, :class => 'btn btn-sm' %>
            <% end %>
            <%= link_to admin_article_edit_path(article.id), :class => 'btn btn-sm' do %>
                <span class="octicon octicon-pencil"></span>
            <% end %>
            <%= link_to admin_article_delete_path(:id => article.id), :method => :delete, :class => 'btn btn-sm btn-danger', :data => {:confirm => "You Sure?"} do %>
                <span class="octicon octicon-trashcan"></span>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>