<% provide(:title, title(@article.title, @article.topic.name)) %>
<%= render 'shared/search' %>
<div class="container">
  <div class="article-show">
    <ul class="breadcrumb">
      <li><a href="<%= url_for(:root) %>"><span class="octicon octicon-home"> </span></a></li>
      <li>
        <a href="<%= url_for(topics_show_path(:slug => @article.topic.slug)) %>"><span class="icon icon-beaker"> </span> <%= @article.topic.name %>
        </a></li>
      <li><%= @article.title %></li>
    </ul>
    <h1><%= @article.title %></h1>
    <time><span class="octicon octicon-clock"></span> Last Updated
      - <%= @article.updated_at.strftime('%B %d, %Y %H:%M') %></time>
    <div class="content markdown-body">
      <%= markdown @article.content %>
    </div>
  </div>
</div>

