<% provide(:title, title(@topic.name)) %>
<%= render 'shared/search' %>
<div class="container">
  <ul class="breadcrumb">
    <li><a href="<%= url_for(:root) %>"><span class="octicon octicon-home"> </span></a></li>
    <li><%= @topic.name %>
  </ul>
  <h1><%= @topic.name %></h1>
  <hr>
  <% if @articles.size > 0 %>
      <div class="flash">
        <%= "%s found" % pluralize(@articles.size, 'article') %>
      </div>
      <div class="articles-entries">
        <%= render :partial => "shared/article", :collection => @articles %>
      </div>
  <% else %>
      <div class="blankslate">
        <h3>There are no articles</h3>
        <p>Sorry there are currently no articles for this topic at the moment</p>
      </div>
  <% end %>
</div>