<div class="container container-margin-top">
  <%= render 'nav' %>
  <div class="row">
    <div class="four columns">
      <ul class="filter-list">
        <li>
          <%= link_to(admin_path, :class => params[:topic_id] ? 'filter-item' : 'filter-item selected') do %>
              <span class="count"><%= Article.count %></span>
              All topics
          <% end %>
        </li>
        <% @topics.each do |topic| %>
            <li>
              <%= link_to(admin_path(:topic_id => topic.id), :class => params[:topic_id] == topic.id.to_s ? 'filter-item selected' : 'filter-item') do %>
                  <span class="count"><%= topic.articles.count %></span>
                  <%= topic.name %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="eight columns">
      <div class="clearfix">
        <% if @topic %>
            <p class="left"><%= '<b>%d</b> articles in <b>%d</b> this topic'.html_safe % [@articles.count, @topics.count] %> </p>
        <% else %>
            <p class="left"><%= '<b>%d</b> articles in <b>%d</b> all topics'.html_safe % [@articles.count, @topics.count] %> </p>
        <% end %>
        <a class="btn btn-sm right" style="margin-bottom: 10px" href="<%= url_for(admin_article_create_path) %>"><span class="octicon octicon-plus"></span>
          New article </a>
      </div>
      <%= render 'shared/flash' %>
      <% if @articles.size > 0 %>
          <%= render 'admin/articles/table' %>
      <% else %>
          <div class="blankslate">
            <h3>There are no unpublished articles</h3>
          </div>
      <% end %>
    </div>
  </div>
</div>
