<%= render 'shared/search' %>
<div class="container">
  <div class="row">
    <div class="flash flash-no-margin-bottom">
      Looking for more information or need a hand?
      Use the search box above, or dive into a category below for instant answers!
    </div>
  </div>
  <% @topics.in_groups_of(3, false) do |group| %>
      <div class="row">
        <% group.each do |topic| %>
            <div class="four columns">
              <div class="topic-panel">
                <h2><%= link_to(topic.name, topics_show_path(:slug => topic.slug)) %></h2>
                <% if topic.articles.size == 0 %>
                    <p>There are no articles for this topic</p>
                <% else %>
                    <ul>
                      <% topic.articles.each do |article| %>
                          <li><%= link_to(article.title, articles_show_path(:id => article.id, :slug => article.slug)) %></li>
                      <% end %>
                    </ul>
                    <a class="view-all" href="<%= url_for topics_show_path(:slug => topic.slug) %>">View all
                      <span class="counter"><%= topic.articles.size %></span>
                    </a>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>