<% provide(:title, title('Home')) %>
<%= render 'shared/search' %>
<div class="container">
  <div class="home">
    <div class="widget">
      <div class="title">Browse Topics</div>
      <div class="content">
        <% @topics.in_groups_of(3, false) do |group| %>
            <div class="row">
              <% group.each do |topic| %>
                  <div class="four columns">
                    <div class="topic-panel">
                      <h2><%= link_to(topic.name, topics_show_path(:slug => topic.slug)) %></h2>
                      <% if topic.articles.published.size == 0 %>
                          <p>There are no articles for this topic</p>
                      <% else %>
                          <ul>
                            <% topic.articles.published.each do |article| %>
                                <li><%= link_to(article.title, articles_show_path(:id => article.id, :slug => article.slug)) %></li>
                            <% end %>
                          </ul>
                          <a class="view-all" href="<%= url_for topics_show_path(:slug => topic.slug) %>">View all
                            <span class="counter"><%= topic.articles.published.size %></span>
                          </a>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <%= render :layout => 'shared/widget', :locals => {:title => 'Popular articles'} do %>
            <ul>
              <% @popular_articles.each do |article| %>
                  <li><%= link_to(article.title, articles_show_path(:id => article.id, :slug => article.slug)) %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div class="four columns">
        <%= render :layout => 'shared/widget', :locals => {:title => 'Recently Updated'} do %>
            <ul>
              <% @recently_updated_articles.each do |article| %>
                  <li><%= link_to(article.title, articles_show_path(:id => article.id, :slug => article.slug)) %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div class="four columns">
        <%= render :layout => 'shared/widget', :locals => {:title => 'Recently Added'} do %>
            <ul>
              <% @recently_added_articles.each do |article| %>
                  <li><%= link_to(article.title, articles_show_path(:id => article.id, :slug => article.slug)) %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>