<div class="container">
  <div class="row">
    <div class="six columns">
      <h2>Administration Login</h2>
      <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-details">
            <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "input-large input-block input-contrast" %>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "input-large input-block input-contrast" %>
          <% if devise_mapping.rememberable? -%>
              <div class="form-checkbox">
                <label>
                  <%= f.check_box :remember_me %>
                  Remember me
                </label>
              </div>
          <% end -%>
          <%= f.submit "Log in" %>
      <% end %>
    </div>
  </div>
</div>
