<!DOCTYPE html>
<html lang="en">
<head>
  <title>Helply</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="navbar">
  <div class="container">
    <a href="<%= url_for(:root) %>" class="navbar-logo">
      <span class="mega-octicon octicon-file-text"></span>
      Helply
    </a>

    <nav class="navbar-nav">
      <%= link_to('Home', :root) %>
      <%= link_to('Administration', :administration) %>
      <a href="/about">Log in</a>
      <a href="<%= url_for(:articles_create) %>" class="btn">
        <span class="octicon octicon-plus"></span>
        New article
      </a>
    </nav>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
