<!DOCTYPE html>
<html lang="en">
<head>
  <title>Helply</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="navbar">
  <div class="container">
    <div class="row">
      <a href="<%= url_for(:root) %>" class="navbar-logo">
        <span class="mega-octicon octicon-file-text"></span>
        Helply
      </a>

      <nav class="navbar-nav">
        <% if user_signed_in? %>
            <a href="<%= url_for(administration_path) %>" class="btn">
              <span class="octicon octicon-gear"></span>
              Administration
            </a>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% end %>
      </nav>
    </div>
  </div>
</header>
<%= yield %>
<div class="contact-footer">
  <div class="header">
    <h2><%= image_tag('icons/email.png') %> Contact Us</h2>
  </div>
  <p>Monday Friday 9am to 6pm Eastern Time. It is 8:22am at the office. We are currently closed.</p>

</div>
</body>
</html>
